[project]
name = "learn-transformer"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "datasets>=4.4.2",
    "ipykernel>=7.1.0",
    "tokenizers>=0.22.1",
]
